.playArea{
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  align-items: center;
  
  height: 70%;
  background-color:#4a5d72;

}


.keyboard-container{
  display: flex;
  flex-direction: row;

  
}
.Keys{

  display: flex;
  align-self: center;
}

.white-key{
  z-index: 1;

}
.black-key{
  z-index: 2;
  margin-left: -10px;
  margin-right: -10px;

}

#pressedKey{
  background-color:yellow;
  opacity: 0.5;
}


