.playArea{
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;

}


.keyboard-container{
  display: flex;
  flex-direction: row;
  
}
.Keys{

  display: flex;
  align-self: center;
}

.white-key{
  z-index: 1;

}
.black-key{
  z-index: 2;
  margin-left: -10px;
  margin-right: -10px;

}

#pressedKey{
  background-color:yellow;
  opacity: 0.5;
}


