.playArea{
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  align-items: center;
  
  height: 70%;
  background-color:#4a5d72;

}


.keyboard-container{
  display: flex;
  flex-direction: row;

  
}
.Keys{

  display: flex;
  align-self: center;
}

.white-key{
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  z-index: 1;
  label{
    
    position: absolute;
    bottom: 20%;

    color:white;
   
  }

}
.black-key{
  
  position: relative;
  z-index: 2;

  label{
    position: absolute;
    left:4px;
    top:40%;
    font-size:12px;

    color:white;
   
  }
  
  margin-left: -10px;
  margin-right: -10px;

}

#pressedKey{
  background-color:yellow;
  opacity: 0.5;
}


