/* PIANO PAGE CSS */

  .container{
    min-height: 100vh;
    display: flex;
    background-color:#393939;
    flex-direction: column;
  }
  

  .main-piano-container{
    background-color: #0070f3;
  }
  
 