/* PIANO PAGE CSS */
@import './variables/variables';
  .container{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color:#596B7E;
    flex-direction: column;
  }
  

  .main-piano-container{
    background-color: #0070f3;
  }
  
 