/* PIANO PAGE CSS */

  .container{
    min-height: 100vh;
    display: flex;
    background-color:#393939;
    flex-direction: column;
  }
  

  .main-piano-container{
    background-color: #0070f3;
  }
  
  .playArea{
    display: inline-block;
    flex-direction: column;
    align-self: center;
  }
  
  .Keyboard{
    display: flex;
    align-items: center;
    flex:1;
    order:2;
  }
  
  .Visualizer{
  order:1;
  }
  
  .keys{
    display: flex;
    align-self: start;
  }
  
  .whitekeys{
    display: flex;
  }
  
  .blackkeys{
    display: flex;
    position:relative;
    right:13.6em;
  }
  
  .white-key{
    z-index: 1;
  
  }
  .black-key{
    z-index: 2;
  
  }
  
  .black-group-1{
    display: flex;
    flex-direction: row;
    position: relative;
    right:33.3em;
  }
  
  .black-key-g1-1{
    z-index: 2;
    position: relative;
  }
  .black-key-g1-2{
    z-index: 2;
    position: relative;
    left:1em;
  }
  
  
  .black-group-2{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 28.9em;
    
  }
  
  .black-group-3{
    display: flex;
    flex-direction: row;
    position: relative;
    right:23.4em;
  }
  
  .black-group-4{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 18.9em;
    
  }
  
  .black-group-5{
    display: flex;
    flex-direction: row;
    position: relative;
    right:13.5em;
  }
  
  .black-group-6{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 8.9em;
    
  }
  
  
  .black-key-g2-1{
    z-index: 2;
    position: relative;
  }
  .black-key-g2-2{
    z-index: 2;
    position: relative;
    left:1.2em;
  }
  .black-key-g2-3{
    z-index: 2;
    position: relative;
    left:2.2em;
  }
  
  