@import './variables/variables';


.tonal-controller{
    background-color: #262525;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    box-shadow: 0px -1px 6px;
}

.tonal-main-container{
    
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $tonal-main-controller;
    border-style: solid;
    border: 1px;
    border-color: black;    
}

.Key-controller{
    padding: 0.5em;
}

.chordDisplay-main-container{
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$tonal-controller-color;
 
}

#Labels{
    color: $label-color;
}


