.visualizer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chord-display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 150px;
    width: 850px;
}