@import './variables/variables';


.visualizer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  
}
.main-visualizer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px black;
    background-color: #5F7286;
}

.chord-display-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 450px;

    border:1px solid black;
    border-radius: 10px;
    // background-color: ;
 
}
.note-display-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
    width: 550px;
    margin: 5px;

    border:1px solid black;
    border-radius: 5px;
    // background-color: ;
 
}


#text{
    font-size: 50px;
    color:$main-text-color;
    padding: 0;
    margin: 0;
}

#note-text{
    color:$note-text-color;
    font-size: 50px;
    padding: 10px;
    margin: 0;
}